In [15]:
import pandas as pd
import numpy as np

In [58]:
def get_std(df, feature):
    v = df[feature][:-1]
    dt = df["time"].diff()[1:]
    total_time = df["time"].max() - df["time"].min()
    mean = np.dot(v, dt) / total_time
    std = np.sqrt(np.dot((v-mean)**2, dt)/total_time)
    print("The standard deviation for std is {:.3f}, mean is {:.3f}".format(std, mean))
    print("{:.2f}% of the values are between mu-sigma and mu+sigma".format(
        len(df[(mean-std < df[feature]) & (df[feature] < mean+std)])/len(df) * 100
    ))
    
    return mean, std

### Find the standard deviation of the the GPS X signal

In [59]:
df = pd.read_csv('./config/log/Graph1.txt')
feature = " Quad.GPS.X"
mean, std = get_std(df, feature)
df

The standard deviation for std is 0.711, mean is -0.025
69.79% of the values are between mu-sigma and mu+sigma

        time   Quad.GPS.X
0   0.105000    -0.372319
1   0.205000     0.639987
2   0.305000    -0.736634
3   0.404998     0.869336
4   0.504997     0.180194
..       ...          ...
91  9.205090     1.185306
92  9.305130    -0.568132
93  9.405170    -0.265926
94  9.505211    -0.171602
95  9.605251     0.700781

[96 rows x 2 columns]

### Find the standard deviation of the IMU Accelerometer X signal.

In [60]:
df = pd.read_csv('./config/log/Graph2.txt')
mean, std = get_std(df, " Quad.IMU.AX")
df

The standard deviation for std is 0.490, mean is -0.018
67.29% of the values are between mu-sigma and mu+sigma

          time   Quad.IMU.AX
0     0.005000      0.552092
1     0.010000      0.073913
2     0.015000      0.523375
3     0.020000     -0.426419
4     0.025000      0.916424
...        ...           ...
1918  9.595247     -0.445150
1919  9.600249      0.162022
1920  9.605251      0.601284
1921  9.610253     -0.059498
1922  9.615255      0.508944

[1923 rows x 2 columns]